<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
     <ion-card-title>Bienvenido</ion-card-title> 
     <ion-card-subtitle>Aplicación de autenticación</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div class="form-one">
        <ion-item>
          <ion-input type="text" name="user" [ngModel]="user" placeholder="Usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" name="password" [ngModel]="password" placeholder="Contraseña"></ion-input>
        </ion-item>
      </div>
    </ion-card-content>




    <ion-card-content>
      <div class="btn-sign">
         <ion-button class="btn-login">Login</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
